<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!-- CSS Personalizado -->
<link rel="stylesheet" href="css/estilos.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <hi class="text-center">Lista de Atividades</hi>
                <h3 class="text-center">Registro</h3>
                <form action="" method="post">
                    <input type="text" name="nome" class="form-control" required placeholder="Nome" id="">
                    <input type="email" name="email"required class="form-control" placeholder="email" id="">
                    <input type="password" id="senha" name="senha"required class="form-control" placeholder="senha" id="">
                    <input type="password" id="senha2" name="senha2"required class="form-control" placeholder="confirme a senha" id="">
                    <input type="submit" value="Salvar" class="btn btn-primary">
                </form>
                <h6>Já possui cadastro? <a href="/login">Clique aqui!</a></h6>
            </div>
        </div>
    </div>
    <script src="js/comparar.js"></script>
</body>
</html>